# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# __pycache__/
__pycache__/

# .mypy_cache/
.mypy_cache/

# SECRET_KEY
secret.py

# Database
*.sqlite
